.sedona-intro {
  line-height: 1.5;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
  &:after{
    position: absolute;
    content:'';
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/intro-triangle--blue.svg)no-repeat;
    height: 40px;
    background-position: 49% 100%;
  }
}

@media (min-width: $screen-sm) {
  .sedona-intro{
    &:after{
      display: none;
    }
  }
}

.sedona-intro__heading {
  font-size: $font-size-big;
  line-height: 1.857rem;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 95%;
}

.sedona-intro__desc{
  line-height: 1.857rem;
  margin: 0 auto;
  width: 95%;
}

.advantage--grey{
  background: #eee;
}

@media (min-width: $screen-sm) {
  .advantage--grey{
    display: table-cell;
    width: 33.3%;
    padding: 5px 40px;
  }
}

@media (min-width: $screen-sm) {
  .advantage--table{
    display: table;
    border-collapse:collapse;
    width:100%;
  }

  .advantage--rtl{
    direction: rtl;
  }
}

.advantage-view{
  width: 100%;
  height: 256px;
  &--right {
    background: url("../img/photo-city@1x.jpg") no-repeat;
    background-position: 59% 12%;
  }

  &--left {
    background: url("../img/photo-bridge@1x.jpg") no-repeat;
    background-position: 34% 0%;
  }
}

@media (min-width: $screen-sm) {
   .advantage-view{
     display: table-cell;
     width: 66%;
     vertical-align: top;
   }
}

.advantage__item{
  color: #fff;
  padding: 45px 3%;
  background-color: $blue;
  text-align: center;
  line-height: 1.5rem;

  .advantage--grey &,
  .advantage--grey-no-border &{
    border-bottom: 1px solid #d6d6d6;
    color: #000;
    background: #eee;
    width:90%;
    margin: 0 auto;
  }
}

@media (min-width: $screen-sm) {
  .advantage__item{
    width: 33%;
    vertical-align: top;
    display: table-cell;

    .advantage--grey &,
    .advantage--grey-no-border &{
      border-bottom: none;
    }

  }
}

.advantage--no-border{
  .advantage__item {
    border: none;
  }
}

.advantage__item-heading{
  font-size: $font-size-big;
  margin-bottom: 20px;
  line-height: 1.857rem;
}

.advantage__item-number{
  display: block;
  margin-bottom: 25px;
  width: 100%;
  text-align: center;

}

.advantage-list{
  margin: 0 auto;
  width: 90%;
  padding-top: 30px;
}

@media (min-width: $screen-sm) {
  .advantage-list{
    width: 100%;
    padding-top: 55px;
  }
}

.advantage-list__item-heading{
  line-height: 2.5;
  font-size: $font-size-big;
  font-weight: bold;
  &:before{
    content:'';
    display: block;
    float:left;
  }
}

@media (min-width: $screen-sm) {
  .advantage-list__item-heading{
     font-size: 1.5rem;
     line-height: 1.857rem;
     display: block;
     text-align: center;
     margin-bottom: 30px;
  }
}

.advantage-list__item{
  margin-bottom: 25px;
}

@media (min-width: $screen-sm) {
 .advantage-list__item{
    margin-bottom: 65px;
    display: inline-block;
    width: 33%;
  }
}

.advantage-list__item-image{
  fill: #81b3d2;
}

@media (min-width: $screen-sm) {
  .advantage-list__item--accomodation,
  .advantage-list__item--food,
  .advantage-list__item--gift {
    padding: 0 36px;
    text-align: center;
   & .advantage-list__item-image {
      display: block;
      margin-right: 0;
      margin-left: 0;
      margin: 0 auto;
      margin-bottom: 32px;
    }
  }
}

.advantage-list__item--accomodation{
  .advantage-list__item-image{
    width: 37px;
    height: 37px;
    margin-right: 11px;
  }
}

.advantage-list__item--gift{
  .advantage-list__item-image{
       width: 32px;
       height: 38px;
       margin:0 13px 0 5px;
  }
}

.advantage-list__item--food{
  .advantage-list__item-image{
    width: 37px;
    height: 35px;
    margin-right: 13px;
  }
}

@media (min-width: $screen-sm) {
  .advantage-list__item--accomodation{
    .advantage-list__item-image{
      width: 74px;
      height: 74px;
    }
  }

  .advantage-list__item--gift{
    .advantage-list__item-image{
      width: 64px;
      height: 72px;
    }
  }

  .advantage-list__item--food{
    .advantage-list__item-image{
      width: 74px;
      height: 60px;
    }
  }

}

.advantage-list__item-desc{
  line-height: 1.5;
  padding-left: 50px;
  color: #333;
}

@media (min-width: $screen-sm) {
  .advantage-list__item-desc{
    padding-left: 0;
  }
}

@media (min-width: $screen-sm) {
  .advantage-container{
      display: table;
      width: 100%;
      border-collapse: collapse;
  }
}

