@import "sprites/functions";
@import "sprites/icons-sprite";

.sedona-intro {
  line-height: 1.5;
  text-align: center;
  padding-bottom: 50px;
  position: relative;
  &:after{
    position: absolute;
    content:'';
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../img/intro-triangle--blue.svg)no-repeat;
    height: 40px;
    background-position: 49% 100%;
  }
}

.sedona-intro__heading {
  font-size: $font-size-big;
  line-height: 1.857rem;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 95%;
}

.sedona-intro__desc{
  line-height: 1.857rem;
  margin: 0 auto;
  width: 95%;
}

.advantage--grey{
  background: #eee;
}

.advantage-view{
  width: 100%;
  height: 256px;
  &--right {
    background: url("../img/photo-city@1x.jpg") no-repeat;
    background-position: 59% 12%;
  }

  &--left {
    background: url("../img/photo-bridge@1x.jpg") no-repeat;
    background-position: 34% 0%;
  }
}

.advantage__item{
  color: #fff;
  padding: 45px 0;
  background-color: $blue;
  text-align: center;
  line-height: 1.5rem;

  .advantage--grey &,
  .advantage--grey-no-border &{
    border-bottom: 1px solid #d6d6d6;
    color: #000;
    background: #eee;
    width:90%;
    margin: 0 auto;
  }
}

.advantage--no-border{
  .advantage__item {
    border: none;
  }
}

.advantage__item-heading{
  font-size: $font-size-big;
  margin-bottom: 20px;
}

.sedona-advantage__item-content{
  width: 85%;
  margin:0 auto;
  &:before{
    content:'\2014 \20 №1 \20 \2014';
    display: block;
    margin-bottom: 25px;
    width: 100%;
  }

  &--second:before{
    content:'\2014 \20 №2 \20 \2014';
  }

  &--third:before{
    content:'\2014 \20 №3 \20 \2014';
  }

  &--fourth:before{
    content:'\2014 \20 №4 \20 \2014';
  }

  &--fifth{
    width:86%;
  }

  &--fifth:before{
    content:'\2014 \20 №5 \20 \2014';
  }

}

.advantage-list{
  margin: 0 auto;
  width: 90%;
  padding-top: 30px;
}

.advantage-list__item-heading{
  line-height: 2.5;
  font-size: $font-size-big;
  font-weight: bold;
  &:before{
    content:'';
    display: block;
    float:left;
  }
}

.advantage-list__item{
  margin-bottom: 25px;
}

@media (min-width: $screen-sm) {
  .advantage-list__item{
    margin-bottom: 25px;
    display: inline-block;
    width: 33%;
  }
}

.advantage-list__item--accomodation{
  .advantage-list__item-heading:before{
    @include sprite($advantage-house-icon);
    width: 37px;
    height: 37px;
    margin-right: 11px;
  }
}

.advantage-list__item--gift{
  .advantage-list__item-heading:before{
       @include sprite($advantage-gift-icon);
       width: 32px;
       height: 38px;
       margin:0 13px 0 5px;
  }
}

.advantage-list__item--food{
  .advantage-list__item-heading:before{
    @include  sprite($advantage-food-icon);
    width: 37px;
    height: 35px;
    margin-right: 13px;
  }
}

.advantage-list__item-desc{
  line-height: 1.5;
  padding-left: 50px;
}


