@media(min-width: $screen-sm){
  .blog-container{
    width: 680px;
    margin: 0 auto;
  }
}

@media (min-width: $screen-md) {
  .blog-container{
    width: 100%;
  }
}

.post{
  width:85%;
  margin: 0 auto;
  border-bottom: 1px solid $border-grey;
  border-top: 1px solid $border-grey;
  padding: 40px 0 37px;
  /*text-align: left;*/
  line-height: 1.5;
}

@media (min-width: $screen-sm) {
  .post{
    width: 296px;
    display: inline-block;
    border-bottom: none;
    border-top: 2px solid $border-grey;

    &:nth-child(odd){
      margin-right: 84px;
    }

    &:nth-last-child(1),
    &:nth-last-child(2){
      border-bottom: 2px solid $border-grey;
    }
  }
}

@media (min-width: $screen-md) {
  .post{
    width:300px;
    margin-left: 48px;
    margin-right: 48px;

    &:nth-child(odd) {
      margin-right: 48px;
    }
    &:nth-last-child(3){
      border-bottom: 2px solid $border-grey;
    }

  }
}

.post__heading{
  margin-bottom: 28px;
  text-align: center;
  line-height: 1.857rem;
}

@media(min-width: $screen-sm){
  .post__heading{

  }
}

.post__content{
  margin-bottom: 30px;
  text-align: center;
}

@media (min-width: $screen-md) {
  .post__content{
    font-size: 0.857em;
  }
}

.post__date{
  padding-left: 18px;
  text-align: left;
  position: relative;
  margin-right: 25px;
  color: #999;
}

@media (min-width: $screen-sm) {
  .post__date{
    margin-right: 19px;
  }
}

.post__type{
  padding-left: 18px;
  text-align: left;
  position: relative;
  color: #999;
}

.post__date-img,
.post__type-img{
  fill: $blue;
  position: absolute;
  left: 0;
  top:2px
}

.post__type-img{
  top:3px;
}

.pagination__page{
  display: none;
}

@media (min-width: $screen-sm) {
  .pagination__page{
    display: inline-block;
    font-size: $font-size-big;
    font-weight: bold;
    position: absolute;
    left: -150px;
    top:67px;
  }
}



.pagination__list{
  margin:0 20px;
  padding: 45px 0;
  border-bottom: 1px solid $border-grey;
}

@media (min-width: $screen-sm) {
  .pagination__list{
    text-align: center;
    position: relative;
    width: 50%;
    margin: 0 auto;
    border-bottom: none;
    padding: 45px 0 20px 0;
  }
}

.pagination-list__item{
  width: 57px;
  height: 57px;
  background-color: $blue;
  display: inline-block;
  text-align: center;
  padding: 17px 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 15px 16px 0;
  cursor: pointer;

  a{
    &,
    &:visited,
    &:active,
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }

    &:hover{
      background-color: $blue-hover;
    }

    &:active{
      background-color: $blue-active;
      a {
        &,
        &:visited,
        &:active,
        &:hover {
          color: $text-color-active;
        }
      }
  }

  &.pagination-list__item--active{
    a{
      &,
      &:hover,
      &:active,
      &:visited{
        color: #000;
      }
    }
    background: #e5e5e5;
    cursor: auto;
  }
}

@media (min-width: $screen-sm) {
  .pagination-list__item{
    margin: 0 8px;
  }
}