.page-footer{
  background-color: #fefefe;
  padding: 40px 0 25px 0;
  text-align: center;
}

.page-footer__hashtag{
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 42px;
}

.page-footer__socials{
  margin-bottom: 40px;
}

.page-footer__link{
  display: inline-block;
  width: 46px;
  height: 48px;
  line-height: 53px;
  vertical-align: middle;
  background-color: $blue;
  margin-right: 3px;
  fill: #fff;

  &:hover{
    background-color: $blue-hover;
  }

  &:active{
    background-color: $blue-active;
    &:before{
    opacity: .3;
    }
  }
}

.page-footer__copyright-text{
  vertical-align: middle;
  margin-right: 5px;
}

.page-footer__copyright-author-link{
  vertical-align: middle;
  display: inline-block;
}

@media (min-width: $screen-sm) {
  .page-footer{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 0;
  }

  .page-footer__hashtag{
    text-align: left;
  }

  .page-footer__copyright{
    text-align: right;
  }

  .page-footer__hashtag,
  .page-footer__socials,
  .page-footer__copyright{
    display: inline-block;
    width: 33%;
    margin-bottom: 36px;
  }
}