.hotel-offer{
  padding: 35px 0 40px 0;
  text-align: center;
}

@media (min-width: $screen-sm) {
  .hotel-offer{
    padding: 55px 0 60px 0;
  }
}

.hotel-offer__heading{
  font-size: 1.5rem;
  margin-bottom: 32px;
  font-weight: bold;
}

@media (min-width: $screen-sm) {
  .hotel-offer__heading{
    font-size: 3rem;
  }
}

.hotel-offer__content{
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 1.714rem;
  width:75%;
  color: #333;
}

@media (min-width: $screen-sm) {
  .hotel-offer__content{
    width: 50%;
  }
}

.hotel-offer__link{
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  width: 280px;
  padding: 20px 0;
  background: $blue;
  margin: 0 auto;

  &,
  &:visited,
  &:hover,
  &:active{
    text-decoration: none;
  }
}

@media(min-width: $screen-sm){
  .hotel-offer__link{
    width: 460px;
  }
}

.map-canvas{
  height: 350px;
}