.intro{
  background: url("../img/photo-background@1x.jpg") no-repeat;
  text-align: center;
  width:100%;
  margin: -14px 0 80px 0;
  position: relative;

  &:after{
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background: url("../img/intro-triangle.svg") no-repeat;
    height: 63px;
    background-position: 49% 100%;
  }
}

@media (min-width: $screen-sm) {
  .intro{
    margin-top: 0;
  }
}

.intro--shortered{
  background: url("../img/photo-background@1x.jpg") no-repeat;
  background-position: 45% 39%;
}

.intro__welcome{
  margin-top: 47px;
  margin-bottom: 9px;
  fill: #81b3d2;
  width: 100%;
}

.intro__gorgeous{
  fill: #766357;
  margin-bottom: 60px;
  width: 100%;
}

.intro__sedona{
  width: 52%;
  margin:0 auto;
  margin-bottom: 68px;
  width:100%;
  .intro--shortered &{
    margin-top: 50px;
  }
}

@media(min-width: $screen-sm){
  .intro__sedona{
    .intro--shortered &{
      margin: 100px 0 110px 0;
    }
  }
}

.intro__because{
  margin-bottom: 35px;
  fill: #fff;
  width:100%;
}