.intro{
  background: url("../img/intro-sm.jpg") no-repeat;
  text-align: center;
  width:100%;
  max-width: 320px;
  margin: -15px 0 45px 0;
}

.intro__welcome{
  margin-top: 47px;
  margin-bottom: 62px;
}

.intro__sedona{
  margin-bottom: 68px;
}

.intro__because{
  margin-bottom: 35px;
}