.intro{
  @include img-retina("../img/photo-background@1x.jpg", "../img/photo-background@2x.jpg", 1200px, 800px);
  background-repeat: no-repeat;
  background-position: 39% 20%;
  text-align: center;
  width:100%;
  margin: -14px 0 45px 0;
  position: relative;

  &:after{
    content:'';
    position: absolute;
    left:0;
    right:0;
    bottom:0;
    background: url("../img/intro-triangle.svg") no-repeat;
    height: 63px;
    background-position: 49% 100%;
  }
}

@media (min-width: $screen-sm) {
  .intro{
    margin-top: 0;
    margin-bottom: 56px;
  }
}

@media (min-width: $screen-md) {
  .intro{
    margin-bottom: 61px;
  }
}

.intro--shortered{
  background: url("../img/photo-background@1x.jpg") no-repeat;
  background-position: 45% 39%;
}

@media (min-width: $screen-sm) {
  .intro--shortered{
    margin-bottom: 75px;
  }
}

.intro__welcome{
  margin-top: 47px;
  margin-bottom: 9px;
  fill: #81b3d2;
  width: 100%;
  height: 34px;
}

@media (min-width: $screen-sm) {
  .intro__welcome{
    height: 45px;
    margin-top: 75px;
  }
}

.intro__gorgeous{
  fill: #766357;
  margin-bottom: 60px;
  width: 100%;
  height: 24px;
}

@media (min-width: $screen-sm) {
  .intro__gorgeous{
    height: 30px;
  }
}

.intro__sedona{
  margin:0 auto;
  margin-bottom: 68px;
  width:100%;
  height: 46px;
  .intro--shortered &{
    margin-top: 50px;
  }
}

@media(min-width: $screen-sm){
  .intro__sedona{
    height: 74px;
    margin-bottom: 58px;
    .intro--shortered &{
      margin: 100px 0 110px 0;
    }
  }
}

.intro__because{
  margin-bottom: 35px;
  height: 50px;
  fill: #fff;
  width:100%;
}

@media (min-width: $screen-sm) {
  .intro__because{
    height: 73px;
    margin-bottom: 85px;
  }
}