.navbar{
  width: 100%;
  text-align: center;
  position: relative;
}

.navbar__menu{
  ul{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
  }

  &--expanded{
    ul {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }
}

@media (min-width:  $screen-sm) {
  .navbar__menu{
    ul {
      height: auto;
      max-height: 500px;
      transition: none;
      display: flex;
    }
  }
}

.navbar__menu-item{
  color: #fff;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  font-weight: bold;
  text-transform: uppercase;

  &:last-of-type{
    border-bottom: none;
    a{
      box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2) inset;
    }
  }

  a{
    display: block;
    padding: 20px 0;
    background-color: $blue;
    font-size: $font-size-big;
    &,
    &:visited,
    &:active,
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (min-width: $screen-sm){
  .navbar__menu-item{
    border:none;
    color: #000;
    width: 20%;
    &:last-of-type{
      a{
        box-shadow: none;
        //@include box-shadow(none);
      }
    }

    &:nth-child(2){
      margin-right:auto;
    }

    &:nth-child(3){
      margin-left: auto;
    }

    a{
      display: block;
      padding: 20px 0;
      background-color: #fff;
      font-size: 1rem;

      &,
      &:visited,
      &:active,
      &:hover{
        color: #000;
        text-decoration: none;
      }

      &:hover{
        color: $blue;
      }

      &:active{
        color: #000;
        opacity:.3;
      }
    }
  }
}

.navbar__logo{
  display: inline-block;
  z-index: 1;
  position: relative;
}
@media (min-width: $screen-sm) {
  .navbar__logo{
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);

  }
}

.navbar__toggle-btn{
  position: absolute;
  right: 20px;
  bottom: 30px;
  height: 22px;
  width: 23px;
  background-image: linear-gradient($blue 4px, transparent 4px, transparent 9px, $blue 9px, $blue 13px, transparent 13px, transparent 18px, $blue 18px);
}

@media (min-width: $screen-sm) {
  .navbar__toggle-btn{
    display: none;
  }
}

.navbar__close{
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 20px;
  top: -6px;
  font-size: 4rem;
}

@media (min-width: $screen-sm) {
  .navbar__close{
    display: none;
  }
}

