.navbar{
  width: 100%;
  text-align: center;
  position: relative;
}

.navbar__menu{

  ul{
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    position: relative;
  }

  &--expanded{
    ul {
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }
}

@media (min-width:  $screen-sm) {
  .navbar__menu{
    ul {
      height: auto;
      max-height: 500px;
      transition: none;
      display: flex;
    }
  }
}

.navbar__menu-item{
  color: #fff;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  font-weight: bold;
  text-transform: uppercase;

  &:last-of-type{
    border-bottom: none;
    a{
      box-shadow: 0 -5px 15px 0 rgba(0,0,0,.2) inset;
    }
  }

  &:hover{
    background-color: $blue-hover;
  }

  &:active{
    background-color: $blue-active;
    a{
      color: $text-color-active;
    }
  }

  a{
    display: block;
    padding: 20px 0;
    background-color: $blue;
    font-size: $font-size-big;
    &,
    &:visited,
    &:active,
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}

@media (min-width: $screen-sm){
  .navbar__menu-item{
    border:none;
    color: #000;
    width: 20%;



    &:last-of-type{
      a{
        box-shadow: none;
        //@include box-shadow(none);
      }
    }

    &:nth-child(3){
      margin-right:auto;
    }

    &:nth-child(4){
      margin-left: auto;
    }

    &:hover{
      background-color: #fff;
    }

    a{
      display: block;
      padding: 20px 0;
      background-color: #fff;
      font-size: 1rem;

      &,
      &:visited,
      &:active,
      &:hover{
        color: #000;
        text-decoration: none;
      }

      &:hover{
        color: $blue;
      }

      &:active{
        color: #000;
        opacity:.3;
        background-color: #fff;
      }
    }

    &.navbar__menu-item--active{
      a{
        color: $reddish-brown;
      }
      &:hover{
        a{
          color: #5f4d43;
          background-color: #ffffff;
        }
      }
    }
  }
}

.navbar__logo{
  display: inline-block;
  z-index: 3;
  position: relative;

  .navbar__logo-img{
    position: absolute;
    left: 35px;
  }

  .navbar__logo-svg{
    fill:$blue;
  }
}
@media (min-width: $screen-sm) {
  .navbar__logo{
    position: absolute;
    top:0;

    .navbar__logo-svg,.navbar__logo-img {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }

    .navbar__logo-svg{
      fill: $blue;
    }

    .navbar__logo-img{
      z-index: 2;
    }

  }
}

.navbar__toggle-btn{
  position: absolute;
  right: 20px;
  bottom: 30px;
  height: 22px;
  width: 23px;
  cursor: pointer;
  background-image: linear-gradient($blue 4px, transparent 4px, transparent 9px, $blue 9px, $blue 13px, transparent 13px, transparent 18px, $blue 18px);
}

@media (min-width: $screen-sm) {
  .navbar__toggle-btn{
    display: none;
  }
}

.navbar__close{
  text-decoration: none;
  fill: #fff;
  position: absolute;
  right: 20px;
  top: 19px;
  display: block;
  width: 23px;
  height: 22px;

  &:hover,
  &:active{
   fill: #fff;
  }
}

@media (min-width: $screen-sm) {
  .navbar__close{
    display: none;
  }
}

