.navbar{
  width: 100%;
  text-align: center;
  position: relative;
}

.navbar__menu{
  @include photoshop-inner-shadow(90,1,0,0,rgba(0,0,0,.2));
  ul{
    // i want ul have same height as children
    overflow: hidden;
  }
}

.navbar__menu-item{
  color: #fff;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  font-weight: bold;
  text-transform: uppercase;

  &:last-of-type{
    border-bottom: none;
  }

  a{
    display: block;
    padding: 20px 0;
    background-color: $blue;
    font-size: 1.286rem;
    &,
    &:visited,
    &:active,
    &:hover{
      color: #fff;
      text-decoration: none;
    }
  }
}

.navbar__logo{
  display: inline-block;
}

.navbar__toggle-btn{
  position: absolute;
  right: 20px;
  bottom: 30px;
  height: 22px;
  width: 23px;
  @include linear-gradient($blue 4px, transparent 4px, transparent 9px, $blue 9px, $blue 13px, transparent 13px, transparent 18px, $blue 18px);
}

.navbar__close{
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 20px;
  top: -6px;
  font-size: 4rem;
}

