*{
  box-sizing: border-box;
}

body, html{
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  background-color: $input-grey;

}

ul, menu, dir, h1, h2, h3,p, blockquote{
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
}

ul{
  list-style-type: none;
}


.centered{
  width: 90%;
  margin:0 auto;
}

.container{
  width:100%;
  background-color: #fff;
}

@media (min-width: $screen-md) {
  .container{
    width:1200px;
    @include photoshop-drop-shadow(90,5,0,15,rgba(0,0,0,.2));
    margin:0 auto;
  }
}