.section-description{
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

@media(min-width: $screen-sm){
  .section-description{
    width: 62%;

    /*&--narrow{
      width: 37%;
    }*/
  }
}

.section-description__heading{
  font-size: 2.143rem;
  margin-top: 5px;
  margin-bottom: 31px;
  font-weight: bold;
}

.section-description__content{
  line-height: 1.714rem;
  margin-bottom: 30px;
  color: #333;
}

@media (min-width: $screen-sm) {
  .section-description__content{
    margin-bottom: 55px;

  }

  /*.section-description__content-no-display{
    display: none;
  }*/
}