//*** colors ***//
$blue:                                      #81b3d2;
$reddish-brown:                             #766357;
$border-grey:                               #dbdbdb;
//*** colors end ***//

$heading-font-size:                         1.286rem;
$screen-sm:                                 320px;
$screen-md:                                 768px;
