//*** colors ***//
$blue:                                      #81b3d2;
$reddish-brown:                             #766357;
$border-grey:                               #dbdbdb;
$blue-hover:                                #669ec0;
$blue-active:                               #5496bd;
$text-color-active:                         #94b9d2;
$input-grey:                                #f2f2f2;
$input-grey-hover:                          #e5e5e5;
$input-grey-active:                         #d5d5d5;
$input-grey-active-cl:                      #a4a4a4;

//*** colors end ***//

$font-size-big:                             1.286rem;
$screen-sm:                                 768px;
$screen-md:                                 1200px;

