@import "variables";

//mixins
@import "mixins/math";
@import "mixins/same";
@import "mixins/shadow";
@import "mixins/clearfix";


@import "advantages";
@import "blog";
@import "footer";
@import "hotel-offer";
@import "section-description";
@import "intro";
@import "navbar";
@import "post";
@import "scaffolding";

//form
@import "form/form";
@import "form/buttons";
@import "form/input";
@import "form/complex-input";
@import "form/checkbox";
@import "form/gallery";
@import "form/popup";
