.survey-complex-value{
  display: flex;
}

@media (min-width: $screen-sm){
  .survey-complex-value{
    width:184px;
    margin: 0 auto;
  }
}

@media (min-width: $screen-md) {
  .survey-complex-value{
    width: 276px;
    &--np{
      margin-left: 0;
    }
  }
}

.survey-complex-value__field-value{
  @extend .survey__field-value;
  padding:18px;
  margin-right: 6px;
  text-align: center;
}

@media (min-width: $screen-sm) {
  .survey-complex-value__field-value{
    width: 100%;
  }
}

@media(min-width: $screen-md){
  .survey-complex-value__field-value{
    width: 142px;
    text-align: left;
  }
}

.survey-complex-value__field-value-wrapper{
  position:relative;
  width: calc(100% - 130px);
  &:after{
    content:'дн.';
    position: absolute;
    display: block;
    right: 22px;
    top:20px;
    opacity: .3;
  }

  &--trlnum{
    &:after{
      content: 'чел.';
    }
  }
}

@media(min-width: $screen-sm){
  .survey-complex-value__field-value-wrapper{
    width:63px;
    margin-left:0;
    &:after{
      display: none;
    }
  }
}

@media (min-width: $screen-md) {
  .survey-complex-value__field-value-wrapper{
    &:after{
      display: block;
    }
  }
}

@media( min-width: $screen-md){
  .survey-complex-value__field-value-wrapper{
    width: 141px;
  }
}


.survey-complex-value__decrease,
.survey-complex-value__increase{
  background-color: $input-grey;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  width: 60px;
  height: 57px;
  &:before{
    display: inline-block;
    //I use px here because font-size is relative to height of block
    font-size: 42px;
    vertical-align: middle;
    opacity: .3;
  }

  &:hover{
    background-color: $input-grey-hover;
  }

  &:active{
    background-color: $input-grey-active;
    color: $input-grey-active-cl;
  }
}

.survey-complex-value__decrease{
  margin-right: 6px;
  &:before{
    content: '-';
  }
}

.survey-complex-value__increase{
  margin-left: 6px;
  &:before{
    content: '+';
  }
}

@media(min-width: $screen-sm){
  .survey-complex-value__decrease,
  .survey-complex-value__increase{
    margin:0;
  }
}

@media (min-width: $screen-md) {
  .survey-complex-value__decrease{
    margin-right: 6px;
  }
  .survey-complex-value__increase{
    margin-left: 6px;
  }
}