
@media (min-width: $screen-sm) {
  .survey{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 60px;
  }
}

@media (min-width: $screen-md) {
  .survey{
    width: 950px;
    margin-bottom: 60px;
  }
}

@media(min-width: $screen-sm){
  .survey__field-row--flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;


  }

  .survery__field-row{
    .survey__field-row{
      display: inline-block;
    }

    .survey__field-wrap{
      display: inline-block;
      vertical-align: top;
      width: 32%;
    }
  }

  .survey__field-wrap{

    &--half{
      width:49%;
      margin-top: 25px;
      display: inline-block;
    }

    &--full{
      width:50%;
      margin:0 auto;
      display: block;
      text-align: center;
    }
  }

  .survey__field-checkbox-wrap{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .survey__field-wrap--half{
      width: auto;
    }
  }
}

@media(min-width: $screen-md){
  .survey__field-wrap{
    &--full{
      width: 30%;
      margin-left: 0;
    }
  }

  .survey__field-checkbox-wrap{
    display: block;
    width: 85%;
    margin-left: 140px;
    .survey__field-wrap--half{
      width: 49%;
    }
  }
}

@media(min-width: $screen-sm) {
  .survey__section-wrap{
    width:510px;
    margin: 0 auto;
  }
}

@media (min-width: $screen-md) {
   .survey__section-wrap{
     &--checkbox{
       width: 980px;
       .survey__field-wrap--half{
          width:49%;
          display: inline-block;
       }
     }
   }
}

.survey__section{
  border:none;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px;

  &:last-of-type{
    border-bottom: 0;
  }

  &:first-of-type{
    border-top: 1px solid #e5e5e5;
  }
}

@media(min-width: $screen-sm){
  .survey__section{
    border-bottom:none;
    padding-bottom: 30px;
    &:first-of-type{
      border: none;
    }
  }
}

@media (min-width: $screen-md) {
  .survey__section{
    &--np{
      padding-left: 0;
      padding-right: 0;
    }
  }
}
.survey__legend{
  font-size: $font-size-big;
  line-height: 1.857rem;
  font-weight: bold;
  float: left;
  margin-bottom: 20px;
  width:100%;
  text-align: center;
  @include clearfix;
}

@media (min-width: $screen-sm) {
  .survey__legend{
    &--striked{
      position: relative;
       .survey__legend-strike{
         position: absolute;
         top:13px;
         border-top:1px solid #dbdbdb;
         width: 122px;
       }

      .survey__legend-strike:first-of-type{
        left:0;
      }

      .survey__legend-strike:last-of-type{
        right: 0;
      }
    }
  }
}

@media (min-width: $screen-md) {
  .survey__legend{
    &--striked{
      position: relative;
      .survey__legend-strike{
         width:278px;
      }
    }
  }
}

.form-description{
  margin-top: 30px;
}

.form-description__heading{
  font-size: $font-size-big;
  font-weight: bold;
  text-align: center;
  @extend .centered;
  margin-bottom: 40px;
}

@media(min-width: $screen-sm){
  .form-description__heading {
    font-size: 2.143rem;
  }
}

.form-description__content{
/*  font-size: $font-size-big;*/
  line-height: 1.714rem;
  text-align: center;
  @extend .centered;
  margin-bottom: 45px;
}

@media (min-width: $screen-sm) {
  .form-description__content {
     width: 58%;
  }
}

.survey-travelers{
  counter-reset: li;
  list-style: none;
  /*width:90%;*/
  margin: 0 auto;
  margin-left:20px;

  li {
    position: relative;
    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      left: -65px;
      top: 48px;
      background: $input-grey;
      @include same(height, width, line-height, 56px);
      text-align: center;
      font-weight: bold;
      font-size: $font-size-big;
    }

    &:after{
      content: '№';
      position:absolute;
      top: 14px;
      left: -43px;
    }
  }
}

@media (min-width: $screen-sm) {
  .survey-travelers{
    .survey__field-wrap{
      display: inline-block;
      width: 32%;
    }
  }
}

@media (min-width: $screen-md) {
  .survey-travelers{
    .survey__field-wrap{
      width: 28%;
      &:first-child{
        margin-right: 2%;
      }
      &:nth-child(2){
        margin-right: 4%;
        width: 280px;
      }
      &:last-child{
        margin-right: 0;
        width: 280px;
      }
    }
  }
}

.survey-file{
  width:97%;
  margin: 0 auto;

  .survey-file__value{
    display: none;
  }
}

@media(min-width: $screen-sm){
  .survey-file{
    width:50%;
    margin: 0 auto;
  }
}

.survey-file__name{
  width: 100%;
  font-weight: bold;
  color: #333;
  font-size: 1.5rem;
  opacity: .3;
  background-color: $input-grey;
  padding: 22px 0;
  text-align: center;
  margin-bottom: 55px;
  margin-top: 42px;
  display: block;

  &:hover{
    background-color: $input-grey-hover;
  }
}
@media (min-width: $screen-md) {
  .survey-file__name{
    margin-top: 78px;
  }
}

/*@media(min-width: $screen-sm){
  .survey-file__name{
    width:50%;
    margin: 0 auto;
  }
}*/

.survey__field-value-submit{
  display: block;
  width: 90%;
  margin: 0 auto;
  background: $blue;
  padding: 20px 0;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  margin-bottom: 80px;

  &:hover{
    background: $blue-hover;
  }

  &:active{
    background: $blue-active;
    color: $text-color-active;
  }
}

@media (min-width: $screen-sm) {
  .survey__field-value-submit{
    width: 50%;
    margin-bottom: 69px;
  }
}

/*@media (min-width: $screen-md) {
  .survey__field-value-submit{
    width: 100%;
  }
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button{
  display: none;
}

@media(min-width: $screen-sm){
  .survey__legend-text{
    width: 60%;
    display: block;
    margin: 0 auto;
  }
}

@media(min-width: $screen-md){
  .survey__legend-text{
    width: 30%;
  }

  .survey__field-wrap--full .survey__field-name--np{
    padding-left: 0;
    text-align: left;
  }
}