.survey-gallery{
  width: 67%;
  margin: 0 auto;
}

.survey-gallery__item{
  @include same(width, height, 60px);
  margin: 0  0 35px  35px;
  display: inline-block;
  background: url("../img/gallery-pic.jpg") no-repeat;
  position: relative;
}

.survey-gallery__item-close{
  position:absolute;
  border-radius: 50%;
  @include same(width, height, 30px);
  background-color: $input-grey;
  top: -15px;
  left: 15px;
  color: #c6c6c6;
  transform: rotate(45deg);
  font-size: 35px;
  padding-left:7px;
  line-height: 35px;
  cursor: pointer;
}

.survey-gallery__item-name{
  display: none;
}

@media(min-width: $screen-sm){
  .survey-gallery__item{
    @include same(width, height, 140px);
    margin: 0  0 60px  60px;
  }

  .survey-gallery__item-close {
    width:50px;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    padding-left: 13px;
    left: 115px;
    top: -25px;
  }

  .survey-gallery__item-name{
    display: block;
    position: absolute;
    bottom: -27px;
  }
}