@mixin linear-gradient($gradient...){
  background-image: linear-gradient($gradient);
  background-image: -webkit-linear-gradient(linear,$gradient);
  background-image: -o-linear-gradient($gradient);
  background-image: -ms-linear-gradient($gradient);
}