@charset "UTF-8";
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
.sedona-intro {
  line-height: 1.5;
  text-align: center;
  background-image: linear-gradient(5deg, #81b3d2 15px, transparent 15px), linear-gradient(355deg, #81b3d2 15px, transparent 15px);
  background-image: -webkit-linear-gradient(linear, 5deg, #81b3d2 15px, transparent 15px), -webkit-linear-gradient(linear, 355deg, #81b3d2 15px, transparent 15px);
  background-image: -o-linear-gradient(5deg, #81b3d2 15px, transparent 15px), -o-linear-gradient(355deg, #81b3d2 15px, transparent 15px);
  background-image: -ms-linear-gradient(5deg, #81b3d2 15px, transparent 15px), -ms-linear-gradient(355deg, #81b3d2 15px, transparent 15px);
  padding-bottom: 50px; }
  .sedona-intro > * {
    margin: 0 auto;
    width: 95%; }

.sedona-intro__heading {
  font-size: 1.286rem;
  line-height: 1.857rem;
  margin-bottom: 40px; }

.sedona-intro__content {
  line-height: 1.857rem; }

.advantage--grey {
  background: #eee; }

.advantage__item {
  color: #fff;
  padding: 45px 0;
  background-color: #81b3d2;
  text-align: center;
  line-height: 1.5rem; }
  .advantage--grey .advantage__item, .advantage--grey-no-border .advantage__item {
    border-bottom: 1px solid #d6d6d6;
    color: #000;
    background: #eee;
    width: 90%;
    margin: 0 auto; }

.advantage--no-border .advantage__item {
  border: none; }

.advantage__item-heading {
  font-size: 1.286rem;
  margin-bottom: 20px; }

.sedona-advantage__item-content {
  width: 85%;
  margin: 0 auto; }
  .sedona-advantage__item-content:before {
    content: '\2014 \20 №1 \20 \2014';
    display: block;
    margin-bottom: 25px;
    width: 100%; }
  .sedona-advantage__item-content--second:before {
    content: '\2014 \20 №2 \20 \2014'; }
  .sedona-advantage__item-content--third:before {
    content: '\2014 \20 №3 \20 \2014'; }
  .sedona-advantage__item-content--fourth:before {
    content: '\2014 \20 №4 \20 \2014'; }
  .sedona-advantage__item-content--fifth {
    width: 86%; }
  .sedona-advantage__item-content--fifth:before {
    content: '\2014 \20 №5 \20 \2014'; }

.advantage-list {
  margin: 0 auto;
  width: 90%;
  padding-top: 30px; }

.advantage-list__item-heading {
  line-height: 2.5;
  font-size: 1.286rem;
  font-weight: bold; }
  .advantage-list__item-heading:before {
    content: '';
    display: block;
    float: left; }

.advantage-list__item {
  margin-bottom: 25px; }

.advantage-list__item--accomodation .advantage-list__item-heading:before {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 37px;
  height: 37px;
  width: 37px;
  height: 37px;
  margin-right: 11px; }

.advantage-list__item--gift .advantage-list__item-heading:before {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: 0px -39px;
  width: 32px;
  height: 38px;
  width: 32px;
  height: 38px;
  margin: 0 13px 0 5px; }

.advantage-list__item--food .advantage-list__item-heading:before {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: -39px 0px;
  width: 37px;
  height: 35px;
  width: 37px;
  height: 35px;
  margin-right: 13px; }

.advantage-list__item-desc {
  line-height: 1.5;
  padding-left: 50px; }

.post {
  width: 85%;
  margin: 0 auto;
  border-bottom: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb;
  padding: 40px 0 37px;
  text-align: center;
  line-height: 1.5; }

.post__heading {
  margin-bottom: 35px; }

.post__content {
  margin-bottom: 30px; }

.post__date {
  margin-left: -10px; }

.pagination__page {
  display: none; }

.pagination__list {
  margin: 0 20px; }

.pagination__list {
  padding: 45px 0;
  border-bottom: 1px solid #dbdbdb; }

.pagination-list__item {
  width: 57px;
  height: 57px;
  background-color: #81b3d2;
  display: inline-block;
  text-align: center;
  padding: 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 15px 16px 0; }
  .pagination-list__item a, .pagination-list__item a:visited, .pagination-list__item a:active, .pagination-list__item a:hover {
    color: #fff;
    text-decoration: none; }
  .pagination-list__item--active {
    background: #e5e5e5;
    cursor: auto; }
    .pagination-list__item--active a {
      color: #000; }

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
.page-footer {
  background-color: #fefefe;
  padding: 40px 0 25px 0;
  text-align: center; }

.page-footer__hashtag {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 42px; }

.page-footer__socials {
  margin-bottom: 40px; }

.page-footer__link {
  display: inline-block;
  width: 46px;
  height: 48px;
  line-height: 46px;
  vertical-align: middle;
  background-color: #81b3d2;
  margin-right: 3px; }
  .page-footer__link:hover {
    background-color: #669ec0; }
  .page-footer__link:active {
    background-color: #5496bd; }
    .page-footer__link:active:before {
      opacity: .3; }
  .page-footer__link:before {
    content: '';
    display: inherit;
    vertical-align: middle; }
  .page-footer__link--twitter:before {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -34px -39px;
    width: 19px;
    height: 15px; }
  .page-footer__link--facebook:before {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -34px -56px;
    width: 9px;
    height: 19px; }
  .page-footer__link--youtube:before {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -55px -39px;
    width: 20px;
    height: 14px; }

.page-footer__copyright-text {
  vertical-align: middle; }

.page-footer__copyright-author-link {
  vertical-align: middle;
  display: inline-block; }

@media (min-width: 768px) {
  .page-footer {
    width: 85%;
    margin: 0 auto; }
  .page-footer__hashtag, .page-footer__socials, .page-footer__copyright {
    display: inline-block;
    width: 33%; } }

.hotel-offer {
  padding: 35px 0 40px 0;
  text-align: center; }

.hotel-offer__heading {
  font-size: 1.5rem;
  margin-bottom: 32px;
  font-weight: bold; }

.hotel-offer__content {
  margin: 0 auto;
  margin-bottom: 40px;
  line-height: 1.714rem;
  width: 75%; }

.hotel-offer__link {
  color: #fff;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  width: 280px;
  padding: 20px 0;
  background: #81b3d2;
  margin: 0 auto; }
  .hotel-offer__link, .hotel-offer__link:visited, .hotel-offer__link:hover, .hotel-offer__link:active {
    text-decoration: none; }

.map-canvas {
  height: 350px; }

.section-description {
  text-align: center;
  width: 90%;
  margin: 0 auto; }

.section-description__heading {
  font-size: 2.143rem;
  margin-bottom: 40px;
  font-weight: bold; }

.section-description__content {
  line-height: 1.714rem;
  margin-bottom: 30px;
  color: #333; }

.intro {
  background: url("../img/photo-background@1x.jpg") no-repeat;
  text-align: center;
  width: 100%;
  margin: -15px 0 80px 0;
  position: relative; }
  .intro:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("../img/intro-triangle.svg") no-repeat;
    height: 63px;
    background-position: 50% 100%; }

.intro--shortered {
  background: url("../img/photo-background@1x.jpg") no-repeat;
  background-position: 45% 39%; }

.intro__welcome {
  margin-top: 47px;
  margin-bottom: 62px; }

.intro__sedona {
  width: 52%;
  margin: 0 auto;
  margin-bottom: 68px; }
  .intro--shortered .intro__sedona {
    margin-top: 50px; }

@media (min-width: 768px) {
  .intro--shortered .intro__sedona {
    margin: 100px 0 110px 0; } }

.intro__because {
  margin-bottom: 35px; }

.navbar {
  width: 100%;
  text-align: center;
  position: relative; }

.navbar__menu ul {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden; }
.navbar__menu--expanded ul {
  max-height: 500px;
  transition: max-height 0.25s ease-in; }

@media (min-width: 768px) {
  .navbar__menu {
    margin-bottom: -63px; }
    .navbar__menu ul {
      height: auto;
      max-height: 500px;
      transition: none;
      display: flex; } }

.navbar__menu-item {
  color: #fff;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;
  font-weight: bold;
  text-transform: uppercase; }
  .navbar__menu-item:last-of-type {
    border-bottom: none; }
    .navbar__menu-item:last-of-type a {
      -webkit-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2) inset;
      box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2) inset; }
  .navbar__menu-item a {
    display: block;
    padding: 20px 0;
    background-color: #81b3d2;
    font-size: 1.286rem; }
    .navbar__menu-item a, .navbar__menu-item a:visited, .navbar__menu-item a:active, .navbar__menu-item a:hover {
      color: #fff;
      text-decoration: none; }

@media (min-width: 768px) {
  .navbar__menu-item {
    border: none;
    color: #000;
    width: 20%; }
    .navbar__menu-item:last-of-type a {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .navbar__menu-item:nth-child(2) {
      margin-right: auto; }
    .navbar__menu-item:nth-child(3) {
      margin-left: auto; }
    .navbar__menu-item a {
      display: block;
      padding: 20px 0;
      background-color: #fff;
      font-size: 1.286rem; }
      .navbar__menu-item a, .navbar__menu-item a:visited, .navbar__menu-item a:active, .navbar__menu-item a:hover {
        color: #000;
        text-decoration: none; }
      .navbar__menu-item a:hover {
        color: #81b3d2; }
      .navbar__menu-item a:active {
        color: #000;
        opacity: .3; } }

.navbar__logo {
  display: inline-block; }

.navbar__toggle-btn {
  position: absolute;
  right: 20px;
  bottom: 30px;
  height: 22px;
  width: 23px;
  background-image: linear-gradient(#81b3d2 4px, transparent 4px, transparent 9px, #81b3d2 9px, #81b3d2 13px, transparent 13px, transparent 18px, #81b3d2 18px);
  background-image: -webkit-linear-gradient(linear, #81b3d2 4px, transparent 4px, transparent 9px, #81b3d2 9px, #81b3d2 13px, transparent 13px, transparent 18px, #81b3d2 18px);
  background-image: -o-linear-gradient(#81b3d2 4px, transparent 4px, transparent 9px, #81b3d2 9px, #81b3d2 13px, transparent 13px, transparent 18px, #81b3d2 18px);
  background-image: -ms-linear-gradient(#81b3d2 4px, transparent 4px, transparent 9px, #81b3d2 9px, #81b3d2 13px, transparent 13px, transparent 18px, #81b3d2 18px); }

@media (min-width: 768px) {
  .navbar__toggle-btn {
    display: none; } }

.navbar__close {
  text-decoration: none;
  color: #fff;
  position: absolute;
  right: 20px;
  top: -6px;
  font-size: 4rem; }

@media (min-width: 768px) {
  .navbar__close {
    display: none; } }

/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.post-data {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 42px; }

.post-data__date, .post__date, .post-data__type, .post__type {
  display: inline-block;
  font-style: italic;
  line-height: 1;
  color: #999; }
  .post-data__date:before, .post__date:before, .post-data__type:before, .post__type:before {
    content: '';
    display: inline-block;
    float: left;
    margin-right: 10px;
    vertical-align: middle; }

.post-data__date, .post__date {
  margin-right: 45px; }
  .post-data__date:before, .post__date:before {
    background-image: url(../img/icons.png);
    background-repeat: no-repeat;
    background-position: -45px -56px;
    width: 11px;
    height: 11px; }

.post-data__type:before, .post__type:before {
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: -58px -56px;
  width: 11px;
  height: 9px; }

.post-full {
  width: 90%;
  margin: 0 auto; }

.post-header {
  text-align: center; }

.post-header__content {
  font-size: 1.286rem;
  line-height: 1.857rem;
  margin-bottom: 40px;
  color: #766357; }

.post-header__heading {
  font-size: 1.714rem;
  line-height: 2.5rem;
  margin-bottom: 35px; }

.post-full__subheading {
  font-weight: bold;
  font-size: 2.143rem;
  margin-bottom: 35px; }

.post-full__content {
  line-height: 1.714rem;
  color: #333;
  margin-bottom: 50px; }
  .post-full__content-before-list {
    margin-bottom: 35px; }

.post-full__list {
  margin-bottom: 38px; }
  .post-full__list:before, .post-full__list:after {
    content: " ";
    display: table; }
  .post-full__list:after {
    clear: both; }

.post-full__list-item {
  color: #333;
  line-height: 1.714rem;
  font-weight: bold; }
  .post-full__list-item:before {
    content: '';
    display: block;
    width: 7px;
    height: 7px;
    -webkit-box-shadow: inset 0 0 7px #81b3d2;
    box-shadow: inset 0 0 7px #81b3d2;
    float: left;
    margin: 8px 10px 0 0; }

.post-full__underlined {
  text-decoration: underline;
  color: #766357; }

.post-full__quote {
  line-height: 1.714rem;
  padding-left: 19px;
  border-left: 1px solid #81b3d2;
  margin: 0; }

.post-full__quote-author {
  display: block;
  text-transform: capitalize;
  font-style: italic;
  color: #766357;
  margin-bottom: 40px; }

.previous-next-section {
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  padding: 45px 4% 47px;
  font-weight: bold;
  font-style: 1.5rem;
  line-height: 1.857rem; }

.previous-next-section_item {
  padding: 18px;
  border: 1px solid #81b3d2;
  text-align: center;
  display: block; }
  .previous-next-section_item, .previous-next-section_item:visited, .previous-next-section_item:hover, .previous-next-section_item:active {
    text-decoration: none;
    color: #000; }
  .previous-next-section_item:not(:last-child) {
    width: 48%;
    margin-bottom: 20px; }
  .previous-next-section_item:first-child {
    margin-right: 2%;
    float: left; }
  .previous-next-section_item:nth-child(2) {
    float: right; }
  .previous-next-section_item:last-child {
    width: 100%;
    clear: both; }

* {
  box-sizing: border-box; }

body, html {
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 14px;
  background-color: #f2f2f2; }

ul, menu, dir, h1, h2, h3, p, blockquote {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0; }

ul {
  list-style-type: none; }

.centered, .form-description__heading, .form-description__content {
  width: 90%;
  margin: 0 auto; }

.container {
  width: 100%;
  background-color: #fff; }

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2) ;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2) ;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .survey {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 120px; } }

@media (min-width: 768px) {
  .survey__field-wrap {
    width: 33%;
    display: inline-block; }
    .survey__field-wrap--half {
      width: 49%; }
    .survey__field-wrap--full {
      width: 50%;
      margin: 0 auto;
      display: block;
      text-align: center; } }

@media (min-width: 768px) {
  .survey__section-wrap {
    width: 510px;
    margin: 0 auto; } }

.survey__section {
  border: none;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 20px; }
  .survey__section label {
    display: inline-block; }
  .survey__section:last-of-type {
    border-bottom: 0; }
  .survey__section:first-of-type {
    border-top: 1px solid #e5e5e5; }

@media (min-width: 768px) {
  .survey__section {
    border-bottom: none;
    padding-bottom: 50px; }
    .survey__section:first-of-type {
      border: none; } }

.survey__legend {
  font-size: 1.286rem;
  line-height: 1.857rem;
  font-weight: bold;
  float: left;
  margin-bottom: 35px;
  width: 100%;
  text-align: center; }
  .survey__legend:before, .survey__legend:after {
    content: " ";
    display: table; }
  .survey__legend:after {
    clear: both; }

@media (min-width: 768px) {
  .survey__legend--striked {
    position: relative; }
    .survey__legend--striked span {
      position: absolute;
      top: 13px;
      border-top: 1px solid #dbdbdb;
      width: 200px; }
    .survey__legend--striked span:first-of-type {
      left: 0; }
    .survey__legend--striked span:last-of-type {
      right: 0; } }

.form-description__heading {
  font-size: 1.286rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px; }

@media (min-width: 768px) {
  .form-description__heading {
    font-size: 2.143rem; } }

.form-description__content {
  font-size: 1.286rem;
  text-align: center;
  margin-bottom: 45px; }

@media (min-width: 768px) {
  .form-description__content {
    width: 58%; } }

.survey-travelers {
  counter-reset: li;
  list-style: none;
  width: 90%;
  margin: 0 auto; }
  .survey-travelers li {
    position: relative; }
    .survey-travelers li:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      left: -65px;
      top: 50px;
      background: #f2f2f2;
      height: 60px;
      width: 60px;
      line-height: 60px;
      text-align: center;
      font-weight: bold;
      font-size: 1.286rem; }
    .survey-travelers li:after {
      content: '№';
      position: absolute;
      top: 14px;
      left: -43px; }

.survey-file {
  width: 90%;
  margin: 0 auto; }
  .survey-file .survey-file__value {
    display: none; }

@media (min-width: 768px) {
  .survey-file {
    width: 50%;
    margin: 0 auto; } }

.survey-file__name {
  width: 100%;
  font-weight: bold;
  color: #333;
  font-size: 1.5rem;
  opacity: .3;
  background-color: #f2f2f2;
  padding: 22px 0;
  text-align: center;
  margin-bottom: 55px; }
  .survey-file__name:hover {
    background-color: #e5e5e5; }

/*@media(min-width: $screen-sm){
  .survey-file__name{
    width:50%;
    margin: 0 auto;
  }
}*/
.survey__field-value-submit {
  display: block;
  width: 90%;
  margin: 0 auto;
  background: #81b3d2;
  padding: 20px 0;
  color: #fff;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  text-transform: uppercase; }
  .survey__field-value-submit:hover {
    background: #669ec0; }
  .survey__field-value-submit:active {
    background: #5496bd;
    color: #94b9d2; }

@media (min-width: 768px) {
  .survey__field-value-submit {
    width: 50%; } }

.survey__field-name, .survey-travelers__field-name {
  padding: 15px 22px;
  display: block;
  width: 90%;
  margin: 0 auto; }
  .survey__field-name--required:after, .survey-travelers__field-name--required:after {
    content: '*';
    color: #ff2626;
    padding-left: 5px; }
  .survey__field-wrap--full .survey__field-name, .survey__field-wrap--full .survey-travelers__field-name {
    text-align: center; }

.survey__field-value, .survey-complex-value__field-value, .survey-travelers__field-value {
  font-weight: bold;
  padding: 22px;
  background: #f2f2f2;
  font-size: 1.286rem;
  border: none;
  margin-bottom: 23px;
  width: 100%; }

@media (min-width: 768px) {
  .survey__field-value, .survey-complex-value__field-value {
    width: 80%; }
  .survey-travelers__field-value {
    width: 98%; } }

.survey__field-value:focus, .survey-complex-value__field-value:focus, .survey-travelers__field-value:focus {
  outline: 2px solid #b8b8b8; }

.survey__field-value--radio {
  display: none; }

.survey__field-value--radio + label {
  position: relative;
  padding-left: 80px;
  margin-bottom: 14px;
  text-transform: none;
  font-weight: bold;
  font-size: 1.286rem;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .survey__field-value--radio + label:before, .survey__field-value--radio + label:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border-radius: 50%; }
  .survey__field-value--radio + label:before {
    width: 55px;
    height: 55px;
    background: #f2f2f2; }
  .survey__field-value--radio + label:after {
    width: 22px;
    height: 22px;
    left: 17px;
    top: 17px;
    background: #333;
    display: none; }

input[type="radio"]:checked + label:after {
  display: block; }

input[type="date"] {
  border: none; }

/*
.survey__field-name--fordate{
  padding: 15px 22px;
  display: block;
  &:after{
    content:'*';
    color: #ff2626;
  }
}*/
.survey-complex-value {
  display: flex; }

@media (min-width: 768px) {
  .survey-complex-value {
    width: 245px;
    margin: 0 auto; } }

.survey-complex-value__field-value {
  padding: 20px;
  margin-right: 6px; }

@media (min-width: 768px) {
  .survey-complex-value__field-value {
    width: 100%; } }

.survey-complex-value__field-value-wrapper {
  position: relative;
  width: calc(100% - 130px); }
  .survey-complex-value__field-value-wrapper:after {
    content: 'дн.';
    position: absolute;
    display: block;
    right: 22px;
    top: 22px;
    opacity: .3; }
  .survey-complex-value__field-value-wrapper--trlnum:after {
    content: 'чел.'; }

@media (min-width: 768px) {
  .survey-complex-value__field-value-wrapper {
    width: 63px;
    margin-left: 0; }
    .survey-complex-value__field-value-wrapper:after {
      display: none; } }

.survey-complex-value__decrease, .survey-complex-value__increase {
  background-color: #f2f2f2;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  width: 60px;
  height: 60px; }
  .survey-complex-value__decrease:before, .survey-complex-value__increase:before {
    display: inline-block;
    font-size: 45px;
    vertical-align: middle;
    opacity: .3; }
  .survey-complex-value__decrease:hover, .survey-complex-value__increase:hover {
    background-color: #e5e5e5; }
  .survey-complex-value__decrease:active, .survey-complex-value__increase:active {
    background-color: #d5d5d5;
    color: #a4a4a4; }

.survey-complex-value__decrease {
  margin-right: 6px; }
  .survey-complex-value__decrease:before {
    content: '-'; }

.survey-complex-value__increase {
  margin-left: 6px; }
  .survey-complex-value__increase:before {
    content: '+'; }

@media (min-width: 768px) {
  .survey-complex-value__decrease, .survey-complex-value__increase {
    margin: 0; } }

.survey__field-value-check {
  display: none; }

.survey__field-value-check + .survey__field-name {
  position: relative; }
  .survey__field-value-check + .survey__field-name:before, .survey__field-value-check + .survey__field-name:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0; }
  .survey__field-value-check + .survey__field-name:before {
    display: block;
    width: 60px;
    height: 60px;
    background-color: #f2f2f2; }
  .survey__field-value-check + .survey__field-name:hover:before {
    background-color: #e5e5e5; }
  .survey__field-value-check + .survey__field-name:active:before {
    background-color: #d5d5d5; }
  .survey__field-value-check + .survey__field-name:active:after {
    border-color: #a4a4a4; }

.survey__field-value-check + label {
  margin-bottom: 25px;
  padding: 20px 0 0 75px;
  height: 60px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.survey__field-value-check:checked + label:after {
  border-bottom: 7px solid #333;
  border-right: 7px solid #333;
  transform: rotate(45deg);
  width: 10px;
  height: 20px;
  left: 23px;
  top: 12px; }

.survey-gallery {
  width: 67%;
  margin: 0 auto; }

.survey-gallery__item {
  width: 60px;
  height: 60px;
  margin: 0 0 35px 35px;
  display: inline-block;
  background: url("../img/gallery-pic.jpg") no-repeat;
  position: relative; }

.survey-gallery__item-close {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #f2f2f2;
  top: -15px;
  left: 15px;
  color: #c6c6c6;
  transform: rotate(45deg);
  font-size: 35px;
  padding-left: 7px;
  line-height: 35px;
  cursor: pointer; }

.survey-gallery__item-name {
  display: none; }

@media (min-width: 768px) {
  .survey-gallery__item {
    width: 140px;
    height: 140px;
    margin: 0 0 60px 60px; }
  .survey-gallery__item-close {
    width: 50px;
    height: 50px;
    font-size: 50px;
    line-height: 50px;
    padding-left: 13px;
    left: 115px;
    top: -25px; }
  .survey-gallery__item-name {
    display: block;
    position: absolute;
    bottom: -27px; } }
